:root {
  --neutral-0: hsl(0, 0%, 100%);
  --neutral-300: hsl(252, 6%, 83%);
  --neutral-500: hsl(245, 15%, 58%);
  --neutral-700: hsl(245, 19%, 35%);
  --neutral-900: hsl(248, 70%, 10%);
  --orange-500: hsl(7, 88%, 67%);
  --orange-700: hsl(7, 71%, 60%);
  --gradient-text: linear-gradient(hsl(7, 86%, 67%), hsl(0, 0%, 100%));
}
@font-face {
  font-family: 'Inconsolata';
  src: url('assets/fonts/static/Inconsolata-Regular.ttf') format('truetype');
  font-weight: normal;
}
@font-face {
  font-family: 'Inconsolata';
  src: url('assets/fonts/static/Inconsolata-Medium.ttf') format('truetype');
  font-weight: 500;
}
@font-face {
  font-family: 'Inconsolata';
  src: url('assets/fonts/static/Inconsolata-Bold.ttf') format('truetype');
  font-weight: bold;
}
@font-face {
  font-family: 'Inconsolata';
  src: url('assets/fonts/static/Inconsolata-ExtraBold.ttf') format('truetype');
  font-weight: 800;
}
body {
  font-family: 'Inconsolata', sans-serif;
}
.hidden{
    display: none;
}
*,
*::before,
*::after {
  box-sizing: border-box;
}

* {
  margin: 0;
}

html,
body {
  height: 100%;
}

body {
  line-height: 1.5;
  font-family: 'Inconsolata', sans-serif;
  -webkit-font-smoothing: antialiased;
  min-height: 100vh;
  display: grid;
  justify-content: center;
  align-items: flex-start;
  background-image: url('assets/images/pattern-lines.svg'), url('assets/images/background-desktop.png'); /* Added pattern-lines.svg */
  background-size: cover, cover; /* Ensure both images cover the entire background */
  background-repeat: no-repeat, no-repeat; /* Make pattern-lines.svg repeat, keep background-desktop.png no-repeat */
  background-position: top, center; /* Center both images */
}


img,
picture,
video,
canvas,
svg {
  display: block;
  max-width: 100%;
}

input,
button,
textarea,
select {
  font: inherit;
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
  overflow-wrap: break-word;
}

.wrapper{
  max-width: 1000px;
  margin-inline: auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
header{
  display: grid;
  gap: 2rem;
  padding-inline: 1rem;
}
h1{
  font-size: 4rem;
  text-align: center;
  line-height: 4rem;
  color: var(--neutral-0);
}
.subheader{
  color: var(--neutral-300);
  text-align: center;
  font-size: 1.5rem;
}
.logo{
  margin-inline: auto;
  margin-top: 1.5rem;
}
form{
  display: flex;
  gap: 1rem;
  flex-direction: column;
  max-width: 700px;
  padding-inline: 1.5rem;
  margin-inline: auto;
  color: var(--neutral-300);
  margin-top: 2rem;
}
@media (max-width: 1024px) { /* Tablet viewport */
  body {
    background-image:  url('assets/images/pattern-lines.svg'),url('assets/images/background-tablet.png');
  }
  h1{
    font-size: 3rem; /* Adjust font size for tablet */
    line-height: 3.5rem; /* Adjust line height for tablet */
  }
}

@media (max-width: 768px) { /* Mobile viewport */
  body {
    background-image: url('assets/images/pattern-lines.svg'), url('assets/images/background-mobile.png');
    background-position: bottom;
  }
  h1{
    font-size: 2rem; /* Adjust font size for mobile */
    line-height: 2.5rem; /* Adjust line height for mobile */
  }
  .subheader{
    color: var(--neutral-300);
    text-align: center;
    font-size: 1.3rem;
  }
}
