:root {
  --neutral-0: hsl(0, 0%, 100%);
  --neutral-300: hsl(252, 6%, 83%);
  --neutral-500: hsl(245, 15%, 58%);
  --neutral-700: hsl(245, 19%, 35%);
  --neutral-900: hsl(248, 70%, 10%);
  --orange-500: hsl(7, 88%, 67%);
  --orange-700: hsl(7, 71%, 60%);
  --gradient-text: linear-gradient(
    to right,
    hsl(7, 86%, 67%),
    hsl(0, 0%, 100%)
  );
}
.error-message {
  color: var(--orange-700);
  display: none;
}
.error {
  border-color: var(--orange-700);
}
.gradient {
  background: var(--gradient-text);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.error + .error-message {
  display: block;
}
@font-face {
  font-family: "Inconsolata";
  src: url("assets/fonts/static/Inconsolata-Regular.ttf") format("truetype");
  font-weight: normal;
}
@font-face {
  font-family: "Inconsolata";
  src: url("assets/fonts/static/Inconsolata-Medium.ttf") format("truetype");
  font-weight: 500;
}
@font-face {
  font-family: "Inconsolata";
  src: url("assets/fonts/static/Inconsolata-Bold.ttf") format("truetype");
  font-weight: bold;
}
@font-face {
  font-family: "Inconsolata";
  src: url("assets/fonts/static/Inconsolata-ExtraBold.ttf") format("truetype");
  font-weight: 800;
}

*,
*::before,
*::after {
  box-sizing: border-box;
  transition: all 0.3s ease-in-out;
}

* {
  margin: 0;
}

html,
body {
  height: 100%;
  scroll-behavior: smooth;
}

body {
  line-height: 1.5;
  font-family: "Inconsolata", sans-serif;
  -webkit-font-smoothing: antialiased;
}
.wrapper2 {
  display: grid;
  justify-content: center;
  align-items: start;
  grid-template-rows: 100px 1fr;
  width: 100%;
  background-image: url("assets/images/pattern-lines.svg"),
    url("assets/images/pattern-squiggly-line-bottom-desktop.svg"),
    url("assets/images/pattern-circle.svg"),
    url("assets/images/pattern-circle.svg"),
    url("assets/images/pattern-squiggly-line-top.svg"),
    url("assets/images/background-desktop.png");
  /* Added pattern-lines.svg */
  background-size: cover, 50%, 15%, 15%, 40%, cover; /* Ensure both images cover the entire background */
  background-repeat: no-repeat; /* Make pattern-lines.svg repeat, keep background-desktop.png no-repeat */
  background-position: top, bottom left, 5% -10%, 78% 50%, top right, center; /* Center both images */
  margin: 0;
  min-height: 100vh;
}

img,
picture,
video,
canvas,
svg {
  display: block;
  max-width: 100%;
}
#formImage {
  max-width: 100px;
  max-height: 100px;
}
input,
button,
textarea,
select {
  font: inherit;
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
  overflow-wrap: break-word;
}

.wrapper {
  max-width: 1000px;
  margin-inline: auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
header {
  display: grid;
  gap: 2rem;
  padding-inline: 1rem;
}
h1 {
  font-size: 4rem;
  text-align: center;
  line-height: 4rem;
  color: var(--neutral-0);
}
.subheader {
  color: var(--neutral-300);
  text-align: center;
  font-size: 1.5rem;
}
.logo {
  margin-inline: auto;
  margin-top: 1.5rem;
}

form {
  display: flex;
  gap: 0.5rem;
  flex-direction: column;
  max-width: 700px;
  padding-inline: 1.5rem;
  margin-inline: auto;
  color: var(--neutral-300);
  padding-block: 2rem;
}
.avatar-upload,
input[type="text"],
input[type="email"],
.avatar-upload figure {
  padding: 8px 15px;
  background: rgba(255, 255, 255, 0.09);
  border-radius: 6px;
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(5px);
  -webkit-backdrop-filter: blur(5px);
  border: 1px solid rgba(255, 255, 255, 0.3);
  color: var(--neutral-0);
}
input[type="text"]:focus,
input[type="email"]:focus {
  background: rgba(255, 255, 255, 0.267);
}

button {
  background-color: var(--orange-700);
  color: var(--neutral-900);
  padding: 10px;
  border: none;
  border-radius: 6px;
  font-weight: 700;
  cursor: pointer;
  margin-top: 1rem;
}
.avatar_footer {
  font-size: 0.8rem;
  color: var(--neutral-500);
}

.avatar-upload {
  display: grid;
  place-items: center;
  padding: 2rem;
  gap: 1rem;
  cursor: pointer;
  margin-bottom: 0.5rem;
  border-style: dashed;
  border-color: var(--neutral-500);
  width: 500px;
  figure {
    background: rgba(255, 255, 255, 0.03);
    border: none;
  }
}

.tickect {
  position: relative;
  display: grid;
  max-width: 600px;
  margin-inline: auto;
  place-items: center;
  margin-block: 3rem;
  color: var(--neutral-0);
  padding-inline: 1rem;

  opacity: 1;
  visibility: visible;
  pointer-events: all;
  transition: 300ms ease-in-out;
}
.tickect-user,
.tickect-info,
#tickect_id {
  position: absolute;
}
.tickect-user {
  display: flex;
  gap: 1rem;
  align-items: center;
  left: 40px;
  bottom: 20px;
  figure img {
    width: 90px;
    border-radius: 20px;
  }
}
.tickect-user-info {
  h2 {
    font-size: 3rem;
    font-weight: 500;
    line-height: 2.5rem;
  }
  span {
    color: var(--neutral-300);
  }
}
.tickect-info {
  top: 20px;
  left: 40px;
  img {
    height: 40px;
  }
  span {
    margin-left: 4rem;
    color: var(--neutral-300);
  }
}

#tickect_id {
  top: 50%;
  bottom: 50%;
  right: 10px;
  transform: translateY(-50%) rotate(90deg);
  color: var(--neutral-500);
  font-size: 2rem;
  line-height: 0;
}
@media (max-width: 1024px) {
  /* Tablet viewport */
  .wrapper2 {
    background-image: url("assets/images/pattern-lines.svg"),
      url("assets/images/pattern-squiggly-line-bottom-mobile-tablet.svg"),
      url("assets/images/background-tablet.png");
    background-size: cover, 50%, cover; /* Ensure both images cover the entire background */
    background-repeat: no-repeat, no-repeat, no-repeat; /* Make pattern-lines.svg repeat, keep background-desktop.png no-repeat */
    background-position: top, bottom left, center; /* Center both images */
  }
  h1 {
    font-size: 3rem; /* Adjust font size for tablet */
    line-height: 3.5rem; /* Adjust line height for tablet */
  }
}

@media (max-width: 568px) {
  /* Mobile viewport */
  form {
    width: 90%;
    justify-content: center;
    align-items: center;
    .avatar-upload {
      width: auto;
      align-self: center;
      margin-inline: auto;
    }
  }
  h1 {
    font-size: 2rem; /* Adjust font size for mobile */
    line-height: 2.5rem; /* Adjust line height for mobile */
  }
  .subheader {
    color: var(--neutral-300);
    text-align: center;
    font-size: 1.3rem;
  }
  .avatar-upload,
  input,
  button,
  .avatar_footer {
    width: 90%;
  }
  .tickect-user {
    figure img {
      width: 70px;
    }
  }
  .tickect-user-info {
    h2 {
      font-size: 2rem;
      font-weight: 500;
      line-height: 2rem;
    }
  }
}
.hidden {
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
}
.none {
  display: none;
}
