@font-face {
  font-family: 'Inconsolata';
  src: url('assets/fonts/static/Inconsolata-Regular.ttf') format('truetype');
  font-weight: normal;
}
@font-face {
  font-family: 'Inconsolata';
  src: url('assets/fonts/static/Inconsolata-Medium.ttf') format('truetype');
  font-weight: 500;
}
@font-face {
  font-family: 'Inconsolata';
  src: url('assets/fonts/static/Inconsolata-Bold.ttf') format('truetype');
  font-weight: bold;
}
@font-face {
  font-family: 'Inconsolata';
  src: url('assets/fonts/static/Inconsolata-ExtraBold.ttf') format('truetype');
  font-weight: 800;
}
body {
  font-family: 'Inconsolata', sans-serif;
}
.hidden{
    display: none;
}